*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
    
    body{
    background-color: rgba(0, 0, 0, 0.474);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       
    
        
    }
    
    header{
    border: solid black 1px;
    height: 800px;
    
    background-color: #2f3944;
    box-shadow: 30px 30px 30px 30px 50px;
    
    
    
    
    
    }
    
    #navbar{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    border: solid #2f3944 2px;
    height: 50px;
    
    
    
        
    }
    
    a{
    
    color: #D3D9D4;
    text-align: none;
    font-size: 20px;
    text-decoration: none;
    
    
    }
    #search1{
    
    position: absolute;
    left: 1300px;
    border-radius: 5px;
    color: black;
    border: solid #2f3944 2px;
    
    }
    #search{
    
    font-size: 15px;
    color: black;
    border-radius: 5px;
    background-color:#2f3944 ;
    
    }
    h1{
    
    
    color:#D3D9D4 ;
    font-size: 50px;
    
    
    }
    
    #intro{
    color: #D3D9D4;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    }
#name{    
    margin-top: 200px;
    margin-left: 100px;
   

}
#image{
    display: flex;
}
img{
    border-radius: 50%;
    height: 400px;
    width: 500px;
    margin-top: 100px;
    margin-left: 400px;
}
